* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#calcBody {
    height: 580px;
    width: 370px;
    padding: 20px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.switch {
    display: block;
    position: relative;
    height: 25px;
    width: 50px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius: 30px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 30px;
    /* left: -5px; */
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, red, orange);
    /* background: red; */
    transition: 0.4s;
}

#screen {
    width: 337px;
    height: 90px;
    padding: 20px;
    border-style: solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#buttonContainer {
    height: 350px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

button {
    height: 65px;
    width: 65px;
}