* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: #6C5B7B;
    color: #6C5B7B;
}
h1 {
    color:#FFFEF2;
    text-shadow: 
        -2px -2px 0 #6C5B7B;
}

body {
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #5DADE2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#calcBody {
    height: 580px;
    width: 370px;
    padding-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #2E2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #7DD3C0;
    border-radius: 10px;
    box-shadow: 0px 15px 10px rgba(0,0,0,0.1);
}


#screen {
    width: 337px;
    height: 90px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFFEF2;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buttonContainer {
    height: 350px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

button {
    height: 65px;
    width: 65px;
    border-radius: 10%;
    background-color: #f2e3d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 1.2rem;
    color: #51316e;
}

.op-button {
    background-color: #ffcc32;
    color: #2E2E2E;
}

#delete {
    background-color: #ffcc32;
    color: #2E2E2E;
}

#clear {
    background-color: #ffcc32;
    color: #2E2E2E;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
}